.imageFood img{
width:100%;
height: 500px;
}

.contentFood{
    align-self: center !important;
}
.contentFood p{
    color:green;
    font-weight: 400;
    font-size: x-large;
}
.contentFood p:hover{
    color:rgb(26, 97, 26);
}
.contentFood p span{
    font-weight: 900;
    padding: 0 10px;
}
.styl{
    font-weight:lighter;
    font-size: small;
}
.setColor{
    background-color: white;
    box-shadow: 20px 20px 50px black;
}